body {
  padding-top: 50px;
  padding-bottom: 20px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}
.message {
  background: none repeat scroll 0 0 #e6e6ff;
  border: 1px solid #888;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  margin-left: 0;
  margin-right: 20px;
}
.message .title {
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 2px 4px #ccf;
}
.message .reply {
  background: none repeat scroll 0 0 #f0f0ff;
  border-top: 1px solid #959595;
  margin-top: 5px;
  margin-left: 15px;
}
.message .reply .created {
  font-size: 9px;
  margin-left: 10px;
  text-shadow: 2px 2px 3px #888;
}
.row {
  margin-left: -20px;
}